#sidebar {
  position: sticky;
  padding: 0.8rem;
  display: grid;
  grid-template-rows: auto;
  align-content: start;
  gap: 2.2rem;
  overflow-x: hidden;
  transition: 200ms ease-in-out;
  width: clamp(180px, 18vw + 50px, 250px);

  &.close {
    width: 2.5rem;
  }

  div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7rem;
    justify-content: center;
  }

  h2 {
    display: flex;
  }
}

.project-list,
.quick-actions {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  border-top: 2px solid;

  width: clamp(150px, 16vw, 220px);

  li {
    display: grid;
    grid-template: 1fr/ 1fr auto;
  }

  button {
    border: none;
    background-color: var(--bg-main);
    color: var(--text-main);
    font-size: 1.1rem;
    text-align: start;
    display: flex;
    align-items: center;
    overflow: scroll;

    span {
      flex-shrink: 0;
    }
  }
}

span {
  display: block;
  width: 1.8rem;
  font-size: 1.6rem;
}

.toggle-sidebar.close {
  translate: -65px;
}
