:root {
  /*--bg-main: #111;*/
  --bg-main: white;
  --text-main: black;
  --bg-secondary: #3C3D37;
  --cream-color: #ECDFCC;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.container {
  flex: 1;
  display: grid;
  grid-template: 1fr/ auto 1fr;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr;

  aside {
    height: 50px;
    border: 2px solid black;
  }
}

li {
  list-style: none;
  padding: 0;
}

ul {
  padding: 0;
}

main {
  #add-task-btn {
    position: fixed;
    bottom: 2px;
    right: 2px;
  }

  border: 2px solid black;
}
