:root {
  /*--bg-main: #111;*/
  --bg-main: #EDEDE8;
  --bg-sidebar-main: #ffd7ba;
  --text-main: black;
  --bg-secondary: #3C3D37;
  --cream-color: #ECDFCC;
}

* {
  font-family: serif;

}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  display: grid;
  grid-template: 1fr/ auto 1fr;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr;

  aside {
    position: sticky;
    top: 0;
    background-color: #fff;
    border-bottom: 2px solid;
    z-index: 2;
    height: clamp(100px, 7vh + 15px, 150px);
    display: grid;
    padding: 0.5rem 1rem 0;
    grid-template-rows: auto 1fr;
    align-content: center;

    button {
      border: none;
      white-space: nowrap;
      padding: 0.3rem;
      font-family: sans-serif;
      background-color: transparent;

      &.current {
        background-color: var(--bg-main);
      }
    }

    ul {
      display: flex;
      gap: 0.8rem;
      font-size: 0.9rem;
      overflow-x: scroll;
      align-items: end;

      li {
        display: flex;
        border-radius: 4px 4px 0 0;
        overflow: hidden;
        flex: 0 0 auto;

        &.current-list {
          transition: 400ms ease-in-out;
          background-color: var(--bg-main);
        }
      }
    }
  }
}

li {
  list-style: none;
  padding: 0;
}

ul {
  padding: 0;
}

main {
  padding: 0.7rem;
  padding-top: 1.3rem;
  display: grid;
  grid-template-rows: auto;
  align-content: start;
  gap: 1.5rem;
  background-color: #EDEDE9;

  #add-task-btn {
    position: fixed;
    bottom: 2px;
    right: 2px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid;
    font-size: 35px;
    opacity: 0.7;
    background-color: var(--bg-sidebar-main);
    z-index: 2;

    &:hover {
      opacity: 1;
    }
  }

  article {
    padding: 0.6rem;
    border-radius: 1rem;
    --priority-color: #000;
    border: 2px solid;
    border-left: 5px solid var(--priority-color);
    background-color: #fff;
    position: relative;
    max-width: 80ch;

    &.p-high {
      --priority-color: #FF0A54;
    }

    &.p-med {
      --priority-color: #FFE45E;
    }

    &.p-low {
      --priority-color: #60D394;
    }
  }

  article,
  #add-task-btn {
    transition: 200ms ease-in-out;

    &:hover {
      translate: 0px -5px;
      box-shadow: 0px 3px 4px #888;
    }

    p {
      max-width: 70ch;
      max-height: 200px;
      overflow: scroll;

      &.description {
        padding: 8px;
        border-radius: 1rem;
      }
    }

    hr {
      border: 1px solid #888;
      margin-bottom: 4px;
    }
  }

  .del-task-btn,
  button.edit-task-btn {
    position: absolute;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: 200ms ease-in-out;

    &:hover {
      box-shadow: 0 2px 4px #888;
    }
  }

  .del-task-btn {
    top: -8px;
    right: -8px;
    background-color: #FF0A54;
    color: #fff;
    font-size: 20px;
  }

  button.edit-task-btn {
    right: 22px;
    top: -8px;
    background-color: #60D394;
  }
}

#add-project-btn {
  span {
    font-weight: 600;
  }
}

input[type="checkbox"] {
  appearance: none;
  border: 2px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  &::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: inset 18px 18px #9381FF;
    scale: 0;
    transition: 200ms ease-out;
  }

  &:checked::before {
    scale: 1;
  }
}

label:has(input[type="checkbox"]) {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.7rem;
  place-content: center;
}

main.flex {
  display: flex;
  flex-wrap: wrap;

  * {
    flex-shrink: 0;
  }
}

footer {
  height: 60px;
  background-color: #FFF1E6;
  border-top: 2px solid;
  display: grid;
  place-content: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 1.3rem;
    text-decoration: none;
    color: #000;
    font-weight: 600;
  }
}
